.main-page__content {
    padding: 42px calc(50% - 500px);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.main-page__main-section { 
    box-sizing: border-box;
    width: 60%;   
}

.main-page__search-box {
    margin-bottom: 35px;
}

.main-page__favorites {
    width: 35%;  
    min-width: 300px; 
}
@media (max-width: 900px) {
    .main-page__content {
        flex-direction: column-reverse;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        max-width: 450px;
    }
    .main-page__favorites, .main-page__main-section {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
  }
  @media (min-width: 900px) and (max-width: 1100px) {
    .main-page__content {
        padding: 20px;
    }
  }
 