.header {
    background: #496DDB;
    padding: 20px calc(50% - 500px) 10px;
}

.header__title {
    font-family: 'Luckiest Guy', cursive;
    color: #FFEEDB;
    font-size: 45px;
}
@media (max-width: 900px) {
    .header__title {
        padding: 20px;
    }
}
@media (min-width: 900px) and (max-width: 1100px) {
    .header {
        padding: 20px;
    }
  }